/* .gallery{
    box-sizing: border-box;
   display: block;

}

img{
    display: block;
}
.photo-card{
    display: block;
   width: 200px;
   height: 150px;
}

*/


.gallery{
    display: flex;
    flex-wrap: wrap;
}

img{
    display: block;
    width: 300px;
    height: 200px;
}

.photo-card{
    margin-right: 15px;
    
}

.load-more{
    width: 300px;
    height: 30px;
    display: block;
    margin: 0 auto;
}
img{
    display: block;
    width: 250px;
height: 150px;
} 

b{
    font-size: 12px;
    margin-right: 20px;
}

.info{
    display: flex;
}