/* .gallery{
    box-sizing: border-box;
   display: block;

}

img{
    display: block;
}
.photo-card{
    display: block;
   width: 200px;
   height: 150px;
}

*/


.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

img{
    display: block;
    width: 300px;
    height: 200px;
}

.photo-card{
    margin-right: 15px;
    
}

.load-more{
  display: none;
    background-color: #02be6e;
    border-radius: 50px;
    cursor: pointer;
    width: 240px;
    height: 35px;
    color: white;
    /* display: block; */
    margin: 0 auto;
    border: 1px solid transparent;
}

.search-btn{
    background-color: #02be6e;
    border-radius: 50px;
    cursor: pointer;
    width: 120px;
    height: 35px;
    padding: 5px 25px;
   color: white;
   border: 1px solid transparent;
}

input{
    width: 240px;
    height: 33px;
    padding: 0 10px;
    border: 1px solid;
    margin-right: 10px;
}
img{
    display: block;
    width: 250px;
height: 150px;
} 

b{
    font-size: 12px;
    margin-right: 20px;
}

.info{
    display: flex;
}

.search-form{
 display: flex;
 justify-content: center;
    
}