/* .gallery{
    box-sizing: border-box;
   display: block;

}

img{
    display: block;
}
.photo-card{
    display: block;
   width: 200px;
   height: 150px;
}

.info{
    display: flex;
}
/* img{
    display: block;
    width: 250px;
height: 150px;
} */ 

.gallery{
    display: flex;
    flex-wrap: wrap;
}

img{
    display: block;
    width: 200px;
    height: 200px;
}

.photo-card{
    margin-right: 15px;
    
}
